<%- include("../includes/head") %>
<section class="mx-auto">
  <h1 class="title">Reset Password</h1>
  <% if(errorMsg.length) { %>
  <p class="msg-box"><%= errorMsg %></p>
  <% } %>
  <form action="/reset" method="POST" novalidate>
    <input hidden value="<%= csrfToken %>" name="_csrf" />
    <div>
      <label for="email">Enter Email</label>
      <input type="email" id="email" name="email" />
    </div>
    <button type="submit">Reset Password Bby!</button>
  </form>
</section>
<%- include("../includes/foot") %>
