<%- include("../includes/head") %>
<section class="premium">
  <divc class="card">
    <h1>IO Premium</h1>
    <ul>
      <li>Can save posts as pdf file.</li>
      <li>Animate profile badge.</li>
      <li>Can set username unlimited.</li>
      <li>တောင်ကြီး နှစ်ညအိပ်/ သုံးရက်</li>
      <li>(15) VVIP Channel</li>
    </ul>
    <p>Buy IO premium</p>
  </divc>
</section>
<%- include("../includes/foot") %>
